<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.mintware.barcode_scan">
  <uses-feature android:name="android.hardware.camera"/>
  <uses-permission android:name="android.permission.CAMERA" />

  <application
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning"
      >
    <activity

        android:name="de.mintware.barcode_scan.LiveBarcodeScanningActivity"
        android:label=""
        android:exported="false"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity

        android:name="de.mintware.barcode_scan.settings.SettingsActivity"
        android:label=""
        android:exported="false"
        android:screenOrientation="portrait"
        >
    </activity>
  </application>
</manifest>
